.container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

input {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 100%;
}



.container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}




